/* Variables */
:root {
    --basic-white: #EEEEEE;
    --basic-white-1: #FFFFFF;
    --basic-grey: #888888;
    --basic-grey-2: #666666;
    --basic-black: #000000;
    --basic-black-2: #283136;
    --basic-red: #FB565A;
    --basic-green: #00CA74;
    --basic-yellow: #EFC849;
    }
    /* Global */
    body {
      min-width: 960px;
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      color: var(--basic-black);
      text-transform: uppercase;
      background-color: var(--basic-white);
      background-position: top center;
      background-repeat: no-repeat;
    }
    a {
        text-decoration: none;
}
/* Main navigation */
.site-navigation {
    font-size: 16px;
    line-height: 30px;
    color: var(--basic-black);
    list-style: none;
}
.site-navigation a {
  color: var(--basic-black);
  
}
.main_header {
    background-color: var(--basic-white);
}
.container {
background-color: var(--basic-white-1);
}
.info-1{
font-size: 45px;
line-height: 45px;
color: var(--basic-black);
}
.info-2 {
  font-size: 16px;
line-height: 24px;
color: var(--basic-black-2);
}
.info-3 {
font-weight: bold;
font-size: 16px;
line-height: 24px;
color: var(--basic-black-2);
}
.info_site li {
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: var(--basic-black-2);
}
/* User navigation */
site-navigation a {
color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
background-color: var(--basic-red);
}
/* Features */

.features-list {
    list-style: none;
}
.feature-item {
    text-align: center;
  }
  .feature-item h2 {
font-weight: bold;
font-size: 24px;
line-height: 30px;
  }
  /* Index columns */
  .info_site {
    list-style: none;
  }
  .info h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
}

.percent {
    font-weight: bold;
font-size: 45px;
line-height: 64px;
list-style: none;
}
.percent p {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}
.job_percent {
    list-style: none;
        }
       /* Contacts */
    .contacts {
 background-color: var(--basic-white-1);
 width: 319px;
height: 308px;
    }

          .footer-social ul {
        list-style: none;
      }
      .footer_footer h1 {
        font-weight: bold;
        font-size: 36px;
        line-height: 36px;
}

.header_2 {
font-weight: 500;
font-size: 55px;
line-height: 55px;
color: var(--basic-black);
}
.header_3 {
  font-size: 16px;
line-height: 24px;
color: var(--basic-black-2);
}
/* button */
.button {
color: var(--basic-white-1);
background-color: var(--basic-red);
}
.green {
  background-color: var(--basic-green);
  color: var(--basic-white-1);
}
.yellow {
  background-color: var(--basic-yellow);
  color: var(--basic-white-1);
}

/* footer */
.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey-2);
  list-style: none;
}
.contacts_1 {
  list-style: none;
  color: var(--basic-white-1);
  background-color: var(--basic-red);
  font-size: 16px;
line-height: 18px;
}
.social-button {
  list-style: none;
  color: var(--basic-white-1);
  background-color: var(--basic-grey);
}

.footer_footer h3 {
  font-weight: bold;
font-size: 36px;
line-height: 36px;
}
.sale {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  }